h1 {
  font-size: 36px;
  font-family: monospace;
}
.header {
  font-size: 24px;
  font-style: italic;
  font-family: monospace;
  font-weight: 200;
}
.important {
  font-size: 90%;
  font-family: sans-serif;
}
.player {
  color: navy;
  font-weight: bold;
}
.opposing {
  color: red;
  font-weight: bold;
}
.sea {
  font-weight: 700;
  font-size: 120%;
}
.visitor {
  font-weight: 700;
  font-size: 120%;
}