h1 {
  font-size: 36px;
  font-family: monospace;
}
.sidebar {
  width: 20%;
  float:right;
  background-color:aqua;
  border: 2px grey;
  padding: 4px;
}
.header {
  font-size: 24px;
  font-style: italic;
  font-family: monospace;
  font-weight: 200;
}
.column {
  width: 300px;
  float: left;
  margin-top: 12px;
  margin-bottom: 12px;
}
.player {
  color: navy;
  font-weight: bold;
}
.opposing {
  color: red;
  font-weight: bold;
}
.team {
  font-weight: 700;
  font-size: 120%;
}